<div class="btn-toolbar" style="height:50px">
    <div class="btn-group">
        <a href="@Url.Action("UserEkle")" class="btn btn-primary btn-group-sm"><i class="glyphicon glyphicon-plus"></i>Kullanıcı Ekle</a>
    </div>

    <div class="btn-group" style="height:200px">
        <a href="@Url.Action("KlinikEkle")" class="btn btn-primary btn-group-sm"><i class="glyphicon glyphicon-plus"></i>Klinik Ekle</a>
    </div>
</div>
